.footer {
  position: relative;
  margin-top: -64px;
  .example-footer {
    background-color: whitesmoke;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 0;
      font-size: small;
    }
  }
}
