.nav-items {
  a {
    width: 100%;
    text-align: left;
    color: white;
    font-weight: lighter;
    :first-child {
      margin-right: 8px;
    }
  }
  .expand-icon {
    float: right;
    margin: 8px 0;
    transform-origin: center;
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .rotated {
    transform: rotate(180deg);
  }
}

.active {
  border-left: solid 3px #ef3691;
  background-color: #237f80;
}
