<div fxLayout="row" fxLayoutAlign="space-between start" fxFlex>
  <div class="page-title">
    <h2 class="mat-h2">Hosgeldin</h2>
    <p class="mat-body">Tüm ögrenme sürecini buradan yönetebilirsin.</p>
  </div>
  <span class="mat-caption">Anasayfa/</span>
</div>
<div class="page-wrapper">
  <div fxLayoutGap="16px" fxLayout="row">
    <div fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row" fxLayoutGap="16px">
        <mat-card>
          <img class="card-img-hx1" src="/assets/hemen-ogren.png" alt="" />
        </mat-card>
        <mat-card>
          <img class="card-img-hx1" src="/assets/duyuru.png" alt="" />
        </mat-card>
      </div>
      <mat-card>
        <img class="card-img-hx2" src="/assets/genel-bakis.png" alt="" />
      </mat-card>
      <mat-card>
        <img class="card-img-hx3" src="/assets/flutter.png" alt="" />
      </mat-card>
    </div>
    <div fxLayout="column">
      <mat-card>
        <img class="card-img-hx4" src="/assets/liderlik-tablosu.png" alt="" />
      </mat-card>
    </div>
  </div>
  <div style="margin-top: 16px;" fxLayout="row" fxLayoutGap="16px">
    <mat-card>
      <img class="card-img-hx5" src="/assets/haber-kaynagi.png" alt="" />
    </mat-card>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-card>
        <img class="card-img-hx6" src="/assets/etkinlikler.png" alt="" />
      </mat-card>
      <mat-card>
        <img
          class="card-img-hx6"
          src="/assets/yapilacaklar-listesi.png"
          alt=""
        />
      </mat-card>
    </div>
  </div>
</div>
